html {
    background-color: #333333;
}

.infotext {
    color: #FF0000;
}

.playerbox {
    background-color: #EAEAEA;
    margin: 1em 1em 1em 1em;
    padding: 2px 2px 2px 2px;
    border: 1px solid #888888;
    text-align: center;
    display: inline-block;
}

.console {
    background-color: #111111;
    width: 30em;
    height: 20em;
    color: #16D954;
    border: 5px solid #444444;
    border-radius: 10px;
    padding: 0em 1em 0em 1em;
    overflow: auto;
    
}

p {
    font-family: monospace;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.addLife {
    background-color: #BBF2B1;
}

.addDmg {
    background-color: #FAC6C0;
}

.return {
    color: #C0F7FA;
}