<html ng-app="mongular">
    <head>
        <script src="js/jquery/jquery-2.1.0.min.js"></script>
        <script src="js/angular/angular.min.js"></script>
        <script src="js/mongular/mongularApp.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script src="js/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="css/mongular.css"/>
    </head>
    
    <body class="" ng-controller="moxController as mox">
      <div class="">
           <div class="col-md-4 playerframe" ng-repeat="player in mox.players">
                <div class="playerinfo">
                    <table>
                        <tr>
                            <td rowspan="2"><div class="avatar"><img ng-src="{{player.avatar}}" /></div></td>
                            <td class="inforow"><strong>Name:</strong> {{player.name}}</td>
                            <td rowspan="2"><div class="life">{{player.life}}</div></td>
                        </tr>
                         <tr>
                            <td class="inforow"><strong>Deck:</strong> {{player.deck}}</td>
                        </tr>
                    </table>
                </div>
                <div class="gamedata">
                    <h1>History</h1>
                    <table class="lifehistory">
                        <thead>
                            <th>Time</th><th>Life change</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in player.lifeEntries"><td>{{entry.time}}</td><td>{{entry.amount}}</td></tr>
                        </tbody>
                    </table>
                </div>
        </div>
            
    </body>
</html>