.nexus7_horizontal {
    background-color: #010101;
    width: 960px;
    height: 600px;
    color: #EEEEEE;
    font-family: courier;
    font-size: 11px;
    padding: 0px 0px 0px 0px;
}

.nexus7_vertical {
    background-color: #010101;
    width: 960px;
    height: 600px;
    color: #EEEEEE;
    font-family: courier;
    font-size: 11px;
}
.playercontainer {
    float: left;
    width: auto;
    height: auto;
    display: inline-block;
    margin: 1% 1% 1% 1%;
    padding: 0.4em 0.4em 0.4em 0.4em;
    border-radius: 10px;
    border: 4px solid #332222;
    background-color: #403333;
    color: #CCCCCC;
}

.playerinfo {
    display: inline-block;
    background-color: #403333;
    color: #CCCCCC;
    margin-bottom: 1em;
}

.img {
    border-radius: 100%;
    border: 4px solid #776666;
    margin: 0.5em 1.5em 0.5em 1em;
    float: left;
}

td > img {
    border-radius: 100%;
    float: left;
}


.life {
    display: inline;
    font-family: impact;
    font-size: 3em;
    width: 64px;
    height: 64px;
    text-align: center
}

.lifecell {
    text-align: center;
    font-family: Impact;
    font-size: 3em;
    background-color: #221111;
    color: #FFB300;
    border-radius: 100%;
    border: 4px solid #776666;
    width: 64px;
}

.imgcell {
    text-align: center;
    background-color: #221111;
    color: #FFB300;
    border-radius: 100%;
    border: 4px solid #776666;
    width: 64px;
}

.inforow {
    width: 10em;
    text-align: center
}

.gamedata {
    font-family: monospace;
    background-color: transparent;
}

.gamedata > h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.lifehistory {
    color: #BBBB;
    width: 100%;
    text-align: center;
    margin: 5px;
}

.lifehistory th {
    color: #EEDDDD;
}
